/* COLORS */
$primary: rgb(255, 255, 255);
$secondary: rgb(0, 0, 0);
$gray: rgb(130, 130, 130);
$blue: #E5E6F8;
$orange:#FF5654;
$pink: #F5DBF1 ;
$green: rgb(151, 208, 164);

// Responsive

$breakpoints: (
    tablette: 1023px,
    mobile: 767px,
);